node_modules
dist
.next
yarn.lock
package-lock.json
public
.github
pnpm-lock.yaml
pnpm-workspace.yaml
README.md
.eslintrc
tailwind.config.js
postcss.config.js
next.config.js
tsconfig.json
validate-commit-msg.js 
